.c-section {
    &:first-child {
        padding-top: 20%;
        padding-right: unset;
        padding-left: unset;
        @include for-tablet {
            padding-top: unset;
        }
    }
    &--two-column>article {
        @include for-tablet {
            &:nth-child(even) {
                padding-left: 2.5%;
            }
            &:nth-child(odd) {
                padding-right: 2.5%;
            }
            width: 50%;
            box-sizing: border-box;
        }
    }
}