.flex {
    display: flex;
    flex-wrap: wrap;
}

.inline-flex {
    display: inline-flex;
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
    &-mb {
        @include for-tablet {
            flex-direction: initial;
        }
    }
}

.flex-space-between {
    justify-content: space-between;
}

.flex-center-items {
    align-items: center;
}

.flex-center-content {
    justify-content: center;
}

.uppercase {
    text-transform: uppercase;
}

.background-gray,
.background-gray-mb {
    background-color: $background-light-gray;
}

.background-gray-mb {
    @include for-tablet {
        background-color: transparent;
    }
}

.right {
    float: right;
}

.center {
    margin: 0 auto;
}

.full-fixed {
    position: fixed;
    width: 100%;
    box-sizing: border-box;
}

.side-padding {
    padding: 0 7.5%;
    @include for-tablet {
        padding: 0 5%;
    }
}

.tb-margin {
    margin: 15% 0;
    @include for-tablet {
        margin: 7.5% 0;
    }
}

.tb-margin-small {
    margin: 10% 0;
}