$logo-font: 'Inconsolata',
serif;
$side-font: 'Ubuntu',
sans-serif;
$main-font: 'Playfair Display',
serif;
$very-dark-gray: #333333;
$dark-gray: #626262;
$light-gray: #b4ad9e;
$background-light-gray: #f0f0f0;
$base-font-size: 14px;
$desktop-width: 1024px;
$tablet-width: 678px;