.c-header {
    color: $secondary-font-color;
    &__logo {
        grid-column: span 2;
        font-weight: 900;
        font-size: 1.75em;
        padding: 15% 0;
        width: 100%;
    }
    &__select {
        grid-row: 3;
        grid-column: 1;
    }
    &__bar {
        height: 10px;
        border-top: 1px solid $basic-background;
        grid-row: 2;
        grid-column: 1 / span 2;
    }
    &__menu {
        grid-row: 1;
        grid-column: 1;
    }
    &__search {
        grid-row: 3;
        grid-column: 2;
    }
    &__button {
        display: inline-block;
        grid-row: 1;
        grid-column: 2;
    }
    &__icon {
        &:first-child {
            padding-right: 7.5%;
            border-right: 1px dotted $basic-background;
            margin-right: 5%;
        }
    }
}