.c-header {
    color: $secondary-font-color;
    &--mobile {
        @include for-tablet {
            display: none;
        }
    }
    &--desktop {
        display: none;
        @include for-tablet {
            display: unset;
        }
    }
    &__logo {
        grid-column: span 2;
        font-weight: 900;
        font-size: 1.75em;
        padding: 10% 0 15% 0;
        width: 100%;
        @include for-tablet {
            width: unset;
            padding: unset;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            line-height: 2em;
        }
    }
    &__button {
        display: inline-block;
        padding: unset;
        @include for-tablet {
            padding: 1em 4em;
            background-color: transparent;
            border: 2px solid $star-background;
        }
    }
    &__icon {
        display: inline-block;
        &:first-child {
            padding-right: 0.75em;
            border-right: 1px dotted $basic-background;
            margin-right: 0.75em;
        }
    }
}