.c-article {
    &__link {
        @extend %link;
        color: $accent-font-color;
    }
    &__product-name {
        font-size: 1.5em;
        color: $secondary-font-color;
        font-weight: bolder;
        padding: 1em 0;
    }
    &__star {
        &:not(:last-child) {
            color: $star-background;
        }
        &:last-child {
            color: $basic-background;
        }
    }
}