%img {
    background-color: $basic-background;
    border: 1px solid $basic-background;
    min-height: 10vh;
    @include for-tablet {
        min-height: 12.5vh;
    }
}

.c-img {
    @extend %img;
    &--primary {
        @extend %img;
        grid-area: span 2 / span 2;
        @include for-desktop {
            grid-area: span 1 / span 4;
        }
    }
    &--opacity {
        background-color: rgba(225, 225, 225, 0.5);
    }
}