.c-menu-list {
    display: none;
    font-size: 0.85em;
    @include for-tablet {
        display: flex;
        width: 75%;
    }
    @include for-desktop {
        width: 50%;
    }
    &__dropdown {
        display: none;
    }
    &__item {
        margin: 0;
    }
    &__icon {
        padding-left: 0.5em;
    }
}