.c-popup {
    width: 100%;
    color: $popup-font-color;
    background-color: $popup-background;
    &__text {
        width: 60%;
        font-size: 0.75em;
        padding: 2.5%;
        @include for-tablet {
            padding: 1% 0;
        }
    }
    &__close {
        right: 10%;
        top: 50%;
        transform: translate(0, -50%);
        @include for-desktop {
            right: 15%;
        }
    }
}