.c-product {
    margin-bottom: 15%;
    @include for-tablet {
        margin-bottom: 0;
    }
    &__name {
        font-size: 1.5em;
        color: $secondary-font-color;
        font-weight: bolder;
        padding: 1em 0;
    }
    &__star {
        &:not(:last-child) {
            color: $star-background;
        }
        &:last-child {
            color: $basic-background;
            margin-right: 2.5%;
        }
    }
    &__price {
        font-size: 1.8em;
        font-weight: bolder;
        line-height: 3em;
        color: $accent-font-color;
    }
    &__label {
        font-weight: bolder;
        color: $secondary-font-color;
        line-height: 3em;
    }
    &__option-value {
        @extend %button-reset;
        padding: 0.75em;
        padding-right: 2em;
        border: 1px solid $basic-background;
        &--select {
            width: 100%;
        }
        &--input {
            display: block;
            &::-webkit-inner-spin-button {
                opacity: 1;
            }
        }
    }
    &__option-wrapper {
        position: relative;
        width: max-content;
        &:before,
        &:after {
            color: $basic-background;
            right: 0;
            height: 50%;
            display: flex;
            align-items: center;
            padding: 0 0.75em;
            border-left: 1px solid $basic-background;
        }
        &:before {
            @extend %icon-before-after;
            content: '\f0d8';
            top: 0;
            border-bottom: 1px solid $basic-background;
        }
        &:after {
            @extend %icon-before-after;
            content: '\f0d7';
            bottom: 0;
        }
    }
}