.c-product {
    margin-bottom: 15%;
    @include for-tablet {
        margin-bottom: 0;
    }
    &__name {
        font-size: 1.5em;
        color: $secondary-font-color;
        font-weight: bolder;
        padding: 1em 0;
    }
    &__star {
        &:not(:last-child) {
            color: $star-background;
        }
        &:last-child {
            color: $basic-background;
            margin-right: 2.5%;
        }
    }
    &__price {
        font-size: 1.8em;
        font-weight: bolder;
        line-height: 3em;
        color: $accent-font-color;
    }
    &__options {
        @include for-desktop {
            flex-direction: row;
        }
    }
    &__label {
        font-weight: bolder;
        color: $secondary-font-color;
        line-height: 3em;
    }
    &__option-value {
        @extend %button-reset;
        padding: 0.75em;
        border: 1px solid $basic-background;
        &--select {
            width: 100%;
        }
        &--input {
            display: block;
            font-size: 0.9em;
            &::-webkit-inner-spin-button {
                opacity: 1;
            }
            @include for-desktop {
                width: 4.5em;
            }
        }
    }
    &__option-wrapper {
        position: relative;
        width: max-content;
        &:before {
            @extend %select-arrow;
            content: '\f0d8';
            top: 0;
            border-bottom: 1px solid $basic-background;
        }
        &:after {
            @extend %select-arrow;
            content: '\f0d7';
            bottom: 0;
        }
    }
    &__property-wrapper {
        @include for-desktop {
            display: inline;
            width: max-content;
        }
    }
}