.c-select {
    &__img {
        width: 1em;
    }
    &__wrapper {
        @extend %select-wrapper;
        line-height: 1em;
        &:after {
            @extend %select-after;
            content: "\f0d7";
        }
        &--gray-icon:after {
            color: $caret-down-background;
        }
        &--wide {
            width: 60%;
        }
    }
}