.c-select {
    font-size: 0.8em;
    &__img {
        width: 1em;
    }
    &__options {
        padding-right: 1em;
    }
    &__wrapper {
        @extend %select-wrapper;
        line-height: 1em;
        &:after {
            @extend %select-after;
            content: "\f0d7";
        }
        &--gray-icon:after {
            color: $caret-down-background;
        }
        &--wide {
            width: 60%;
            @include for-desktop {
                width: max-content;
            }
        }
    }
}