.c-social {
    padding: 5% 0;
    line-height: 2.5em;
    &__title {
        font-size: 0.8em;
        margin-right: 40%;
        @include for-tablet {
            margin-right: 30%;
        }
        @include for-desktop {
            margin-right: 5%;
        }
    }
}