%link {
    color: inherit;
    text-decoration: unset;
}

%select-wrapper {
    width: max-content;
    position: relative;
}

%icon-before-after {
    color: $primary-font-color;
    font-family: FontAwesome;
    position: absolute;
}

%select-arrow {
    @extend %icon-before-after;
    color: $basic-background;
    right: 0;
    height: 50%;
    display: flex;
    align-items: center;
    padding: 0 0.75em;
    border-left: 1px solid $basic-background;
}

%select-after {
    @extend %icon-before-after;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    z-index: -1;
    @include for-desktop {
        right: -10%;
    }
}

%side-button {
    text-decoration: underline;
    text-transform: uppercase;
    font-weight: bolder;
}

%button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    background: transparent;
    color: inherit;
    font-family: inherit;
    border-radius: unset;
}

%partial-border {
    display: block;
    content: '';
    position: absolute;
    left: 0;
    height: 30%;
    border: 0.5px solid $basic-background;
    @include for-desktop {
        display: none;
    }
}

%caret-left {
    position: absolute;
    font-size: 100%;
    line-height: 100%;
    font-family: FontAwesome;
    color: $basic-background;
    content: '\f053';
}