// typography
$basic-font: 'Lato',
sans-serif;
$base-font-size: 14px;
$base-line-height: 150%;
// font-colors
$primary-font-color: #555555;
$secondary-font-color: #111111;
$accent-font-color: #68899a;
$popup-font-color :#868f93;
$side-font-color: #b5b5b5;
// backgrounds
$popup-background: #d1dbe0;
$basic-background: #e1e1e1;
$basic-background-opacity: rgba(225, 225, 225, 0.5);
$star-background:#ded3aa;
$caret-down-background: #ccc;
// responsiveness
$desktop-width: 1024px;
$tablet-width: 678px;