html {
  scroll-behavior: smooth;
  color: #3c3c3c; }

a {
  text-decoration: none; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  letter-spacing: 0.1em; }

.c-header__title,
.c-article__title,
.c-list__ititle {
  font-weight: bold; }

.c-header__title {
  font-size: 3em; }

.c-header__title,
.c-header__description,
.c-article__content,
.c-list__icontent {
  line-height: 150%; }

.c-header__content {
  text-transform: uppercase; }

.c-article__title {
  font-size: 2em; }

.c-article__content,
.c-list__icontent {
  letter-spacing: 0em; }

.c-article__content {
  font-size: 0.9em; }

.c-list__icontent {
  font-size: 0.9em; }

.c-article {
  border: 2px solid;
  border-top: none;
  position: relative; }

.c-article__border-part {
  width: 20%;
  border: 1px solid; }

.c-article__border-part--black div {
  border-color: #3c3c3c; }

.c-article__border-part--white div {
  border-color: white; }

.c-article__border-part:first-of-type {
  float: left; }

.c-article__border-part:last-of-type {
  float: right; }

.c-article__title {
  position: absolute;
  top: -0.6em;
  left: 50%;
  transform: translate(-50%, 0); }

.c-article__content {
  display: inline-block;
  margin: 2% 15% 0 15%; }

.c-article__content:first-of-type {
  margin-top: 5%; }

.c-article__content:last-of-type {
  margin-bottom: 5%; }

.c-article--white {
  border-color: white; }

.c-article--black {
  border-color: #3c3c3c; }

.c-header {
  height: 100vh;
  text-align: center; }

.c-header--background1 {
  background-image: url("../img/background-1.png");
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .c-header--background1 {
      background-image: url("../img/background-1@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (-moz-min-device-pixel-ratio: 3) {
    .c-header--background1 {
      background-image: url("../img/background-1@3x.png"); } }

.c-header--white {
  color: white; }

.c-header__content {
  padding: 10%; }

.c-header__logo {
  margin: 2em;
  width: 3em; }

.c-header__title {
  margin: 3% 0; }

.c-header__switch {
  display: inline-block;
  width: 1rem;
  height: 2rem;
  margin-top: 10%;
  border: 1px solid white;
  border-radius: 0.5rem;
  color: inherit; }

.c-list {
  list-style-type: none;
  padding: 5% 15%; }

.c-list__item {
  margin-top: 2%; }

.c-list__item:first-child {
  margin-top: 0; }

.c-list__img {
  width: 3em;
  margin-top: 5%; }

.c-list__ititle {
  margin: 5% 0; }

.c-main__section {
  text-align: center;
  padding: 10% 15%; }

.c-main__section--white {
  color: white; }

.c-main__section--background2 {
  background-image: url("../img/background-2.png");
  background-size: 100% auto;
  -webkit-background-size: 100% auto;
  background-size: cover; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .c-main__section--background2 {
      background-image: url("../img/background-2@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (-moz-min-device-pixel-ratio: 3) {
    .c-main__section--background2 {
      background-image: url("../img/background-2@3x.png"); } }

.c-main__section--full {
  padding: 0; }

.c-menu__list {
  padding: 0; }

.c-menu__item {
  display: inline-block;
  width: 25%;
  height: 5em; }

.c-menu__item-1 {
  background-image: url("../img/menu-1.png");
  background-size: 100% auto;
  -webkit-background-size: 100% auto; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .c-menu__item-1 {
      background-image: url("../img/menu-1@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (-moz-min-device-pixel-ratio: 3) {
    .c-menu__item-1 {
      background-image: url("../img/menu-1@3x.png"); } }

.c-menu__item-2 {
  background-image: url("../img/menu-2.png");
  background-size: 100% auto;
  -webkit-background-size: 100% auto; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .c-menu__item-2 {
      background-image: url("../img/menu-2@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (-moz-min-device-pixel-ratio: 3) {
    .c-menu__item-2 {
      background-image: url("../img/menu-2@3x.png"); } }

.c-menu__item-3 {
  background-image: url("../img/menu-3.png");
  background-size: 100% auto;
  -webkit-background-size: 100% auto; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .c-menu__item-3 {
      background-image: url("../img/menu-3@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (-moz-min-device-pixel-ratio: 3) {
    .c-menu__item-3 {
      background-image: url("../img/menu-3@3x.png"); } }

.c-menu__item-4 {
  background-image: url("../img/menu-4.png");
  background-size: 100% auto;
  -webkit-background-size: 100% auto; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .c-menu__item-4 {
      background-image: url("../img/menu-4@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (-moz-min-device-pixel-ratio: 3) {
    .c-menu__item-4 {
      background-image: url("../img/menu-4@3x.png"); } }

.c-menu__item-5 {
  background-image: url("../img/menu-5.png");
  background-size: 100% auto;
  -webkit-background-size: 100% auto; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .c-menu__item-5 {
      background-image: url("../img/menu-5@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (-moz-min-device-pixel-ratio: 3) {
    .c-menu__item-5 {
      background-image: url("../img/menu-5@3x.png"); } }

.c-menu__item-6 {
  background-image: url("../img/menu-6.png");
  background-size: 100% auto;
  -webkit-background-size: 100% auto; }
  @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
    .c-menu__item-6 {
      background-image: url("../img/menu-6@2x.png"); } }
  @media (-webkit-min-device-pixel-ratio: 3), (-moz-min-device-pixel-ratio: 3) {
    .c-menu__item-6 {
      background-image: url("../img/menu-6@3x.png"); } }

.l-flex {
  display: flex;
  flex-wrap: wrap; }

.l-flex--space-between {
  justify-content: space-between; }

.l-flex--grow-1 {
  flex-grow: 1; }

.l-flex-grow-2 {
  flex-grow: 2; }
