#container {
    width: 25%;
    margin: 5% auto;
}

#container>div {
    text-align: justify;
}

#container>div::after {
    content: '';
    width: 100%;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    display: inline-block;
}