@import url("https://fonts.googleapis.com/css?family=Inconsolata|Ubuntu:300|Playfair+Display&display=swap");
.c-article__category, .c-article__comment {
  font-size: 1em;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Ubuntu", sans-serif;
  color: #b4ad9e;
  margin-top: 2em; }

.c-image, .c-image--main {
  width: 100%; }

.c-footer-menu__link, .c-footer-menu__link--no-animation, .link--menu, .c-menu__link {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

.c-footer-menu__link, .c-footer-menu__link--no-animation {
  padding: 2em 1em; }

.c-article__comment, .c-button, .c-form__input, .c-form__submit {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: pointer; }

.c-article__content, .c-article__content--main {
  overflow: hidden;
  margin-bottom: 1em;
  line-height: 1.5em; }

.c-article__title, .c-article__title--main {
  font-size: 2rem;
  margin: 1em 0;
  line-height: 1.2em; }

.flex {
  display: flex;
  flex-wrap: wrap; }

.inline-flex {
  display: inline-flex; }

.flex-row {
  flex-direction: row; }

.flex-column {
  flex-direction: column; }
  @media screen and (min-width: 678px) {
    .flex-column-mb {
      flex-direction: initial; } }

.flex-space-between {
  justify-content: space-between; }

.flex-center-items {
  align-items: center; }

.flex-center-content {
  justify-content: center; }

.flex-grow-1 {
  flex-grow: 1; }

.uppercase {
  text-transform: uppercase; }

.background-gray,
.background-gray-mb {
  background-color: #f0f0f0; }

@media screen and (min-width: 678px) {
  .background-gray-mb {
    background-color: transparent; } }

.right {
  float: right; }

.center {
  margin: 0 auto; }

.full-fixed {
  position: fixed;
  width: 100%;
  box-sizing: border-box; }

.side-padding {
  padding: 0 7.5%; }
  @media screen and (min-width: 678px) {
    .side-padding {
      padding: 0 5%; } }

.tb-margin {
  margin: 10% 0; }
  @media screen and (min-width: 678px) {
    .tb-margin {
      margin: 7.5% 0; } }

.tb-margin-small {
  margin: 10% 0; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.c-article__comment::placeholder {
  color: #b4ad9e; }

.c-article__title--main {
  margin-bottom: 1.5em; }

.c-article__content {
  max-height: 4.5em; }
  .c-article__content--main {
    max-height: 6em; }

.c-button {
  font-family: "Playfair Display", serif;
  font-size: 1.5em;
  border: 1px solid #626262;
  color: #626262;
  padding: 5%;
  margin-bottom: 30%; }
  @media screen and (min-width: 678px) {
    .c-button {
      padding: 2.5% 5%; } }
  @media screen and (min-width: 1024px) {
    .c-button:hover {
      background-color: #f0f0f0;
      border-color: transparent;
      color: black;
      transition: all 0.3s linear; } }

.c-footer-menu {
  color: black; }
  .c-footer-menu__link:hover {
    transform: translate(-2px, -2px);
    transition: all 0.3s linear; }
  .c-footer-menu__icon {
    color: #626262; }

.c-form {
  position: relative;
  border-bottom: 1px solid black;
  padding-bottom: 0.5em;
  margin-top: 5rem; }
  .c-form__title {
    font-size: 1.8em;
    color: black; }
  .c-form__input {
    font-family: "Playfair Display", serif;
    font-size: 1em;
    flex-grow: 8; }
  .c-form__submit {
    padding: 0;
    color: #b4ad9e;
    flex-grow: 2; }

.c-image--main {
  margin-top: 20%; }

.c-menu-icon {
  width: 2.5rem;
  height: 2rem; }
  .c-menu-icon__bar {
    border: 1px solid black; }
  @media screen and (min-width: 678px) {
    .c-menu-icon {
      display: none; } }

.c-menu {
  display: none;
  position: absolute;
  top: 105%;
  right: 0;
  width: 100%; }
  .c-menu__item {
    text-align: center;
    width: 100%;
    margin-bottom: 0.5%;
    background-color: #f0f0f0;
    opacity: 0.9; }
    @media screen and (min-width: 678px) {
      .c-menu__item {
        width: auto;
        background-color: unset; } }
  .c-menu__link {
    width: 100%;
    font-size: 1.2em;
    padding: 1em 0;
    opacity: 1; }
    @media screen and (min-width: 1024px) {
      .c-menu__link {
        padding: 0.5em; }
        .c-menu__link:hover {
          transform: translate(-2px, -2px);
          transition: all 0.3s linear;
          color: black; } }
  @media screen and (min-width: 678px) {
    .c-menu {
      display: block;
      position: initial;
      width: unset;
      flex-grow: 1; } }

#menu:checked ~ .c-menu {
  display: block; }

.c-footer {
  display: none; }
  @media screen and (min-width: 1024px) {
    .c-footer {
      display: flex;
      margin-top: 100vh; } }

html {
  scroll-behavior: smooth;
  color: #626262;
  font-size: 14px;
  font-family: "Playfair Display", serif; }

@media screen and (min-width: 1024px) {
  main {
    padding: 0 5%; } }

.c-header {
  z-index: 1;
  padding: 5%;
  padding-left: 7.5%; }
  @media screen and (min-width: 678px) {
    .c-header {
      background-color: white;
      opacity: 0.9;
      padding: 4% 5%; } }
  @media screen and (min-width: 678px) {
    .c-header__link {
      flex-grow: 3; } }
  .c-header__title {
    font-family: "Inconsolata", serif;
    font-size: 2.5rem;
    letter-spacing: 0.7rem;
    color: black; }
  .c-header__checkbox {
    display: none; }

.c-section:first-child {
  padding-top: 20%;
  padding-right: unset;
  padding-left: unset; }
  @media screen and (min-width: 678px) {
    .c-section:first-child {
      padding-top: unset; } }

@media screen and (min-width: 678px) {
  .c-section--two-column > article {
    width: 50%;
    box-sizing: border-box; }
    .c-section--two-column > article:nth-child(even) {
      padding-left: 2.5%; }
    .c-section--two-column > article:nth-child(odd) {
      padding-right: 2.5%; } }
