@mixin background-image-resolution($file) {
    background-image: url('../img/' + $file + '.png');
    background-size: cover;
    -webkit-background-size: cover;
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        & {
            background-image: url('../img/' + $file + '@2x.png');
        }
    }
    @media (-webkit-min-device-pixel-ratio: 3),
    (-moz-min-device-pixel-ratio: 3) {
        & {
            background-image: url('../img/' + $file + '@3x.png');
        }
    }
}