$regular-font: 'Lato';
$light-color: white;
$dark-color: #3c3c3c;
$bigger-line-height: 150%;
$base-font-size: 16px;
$mobile-font-size: 20px;
$smaller-font-size: 0.9em;
$bigger-letter-spacing: 0.1em;
$zero-letter-spacing: 0;
$desktop-width: 1024px;
$tablet-width: 678px;