.c-header {
    height: 100vh;
    &--background1 {
        @include background-image-resolution('background-1');
        @include for-mobile {
            background-position: -55%;
        }
    }
    &--white {
        color: $light-color;
    }
    &__content {
        padding: 10%;
        letter-spacing: $bigger-letter-spacing;
        @include for-tablet {
            padding: 7.5%;
        }
        @include for-mobile {
            padding: 7.5% 5%;
        }
    }
    &__logo {
        margin: 2em;
        width: 4em;
        @include for-mobile {
            width: 5em;
        }
    }
    &__title {
        margin: 3% 0;
        font-size: 3em;
        font-weight: bold;
        letter-spacing: $bigger-letter-spacing;
        line-height: $bigger-line-height;
        @include for-mobile {
            font-size: 2em;
        }
    }
    &__description {
        @include for-mobile {
            line-height: 2em;
        }
    }
    &__switch {
        display: inline-block;
        width: 1rem;
        height: 2rem;
        margin-top: 7%;
        border: 1px solid $light-color;
        border-radius: 0.5rem;
        color: inherit;
    }
    &__break {
        @include for-mobile {
            display: inline;
        }
    }
}