.c-main__section {
    padding: 10% 20%;
    @include for-tablet {
        padding: 15% 10%;
    }
    @include for-mobile {
        padding: 25% 5%;
    }
    &:last-of-type {
        padding-bottom: 5%;
    }
    &--white {
        color: $light-color;
    }
    &--background2 {
        @include background-image-resolution('background-2');
    }
    &--full {
        padding: 0;
        @include for-tablet {
            padding: 0 10%;
        }
        @include for-mobile {
            padding: 0 5%;
        }
    }
}