.c-article {
    border: 2px solid;
    border-top: none;
    position: relative;
    &--white {
        border-color: $lightColor;
    }
    &--black {
        border-color: $darkColor;
    }
    &__border-part {
        width: 20%;
        border: 1px solid;
    }
    &__border-part--black {
        div {
            border-color: $darkColor;
        }
    }
    &__border-part--white {
        div {
            border-color: $lightColor;
        }
    }
    &__border-part:first-of-type {
        float: left;
    }
    &__border-part:last-of-type {
        float: right;
    }
    &__title {
        position: absolute;
        top: -0.6em;
        left: 50%;
        transform: translate(-50%, 0);
    }
    &___content {
        display: inline-block;
        margin: 2% 15% 0 15%;
    }
    &__content:first-of-type {
        margin-top: 5%;
    }
    &__content:last-of-type {
        margin-bottom: 5%;
    }
}