.c-article {
    border: 2px solid;
    border-top: none;
    position: relative;
    &::before {
        @include partial-border;
        float: left;
    }
    &::after {
        @include partial-border;
        position: absolute;
        top: 0;
        right: 0;
    }
    &--white {
        border-color: $light-color;
    }
    &--black {
        border-color: $dark-color;
    }
    &__title {
        position: absolute;
        top: -0.6em;
        left: 50%;
        transform: translate(-50%, 0);
        width: fit-content;
        font-size: 2em;
        font-weight: bold;
        letter-spacing: $bigger-letter-spacing;
        @include for-mobile {
            top: -0.7em;
            line-height: 150%;
        }
    }
    &__title--broken {
        @include for-mobile {
            top: -1.5em;
        }
    }
    &__content {
        display: inline-block;
        margin: 2% 15% 0 15%;
        font-size: 1em;
        @include for-mobile {
            margin: 10% 5% 0 5%;
            font-size: 1em;
        }
    }
    &__content:first-of-type {
        margin-top: 7%;
        @include for-mobile {
            margin-top: 20%;
        }
    }
    &__content:last-of-type {
        margin-bottom: 5%;
        @include for-mobile {
            margin-bottom: 20%;
        }
    }
    &__content--reduced-margin {
        @include for-mobile {
            margin-bottom: 0 !important;
        }
    }
    &__break {
        display: none;
        @include for-mobile {
            display: inline;
        }
    }
}