.c-list {
    list-style-type: none;
    padding: 5% 15%;
    @include for-mobile {
        padding: 25% 5%;
    }
    &__item {
        margin-top: 2%;
    }
    &__item:first-child {
        margin-top: 0;
    }
    &__img {
        width: 3em;
        margin-top: 10%;
        @include for-mobile {
            width: 5em;
            margin-top: 25%;
        }
    }
    &__ititle {
        margin: 5% 0;
        font-weight: bold;
        letter-spacing: $bigger-letter-spacing;
    }
    &__icontent {
        font-size: 0.9em;
        @include for-mobile {
            font-size: 1em;
        }
    }
}