.c-list {
    list-style-type: none;
    padding: 5% 15%;
    &__item {
        margin-top: 2%;
    }
    &__item:first-child {
        margin-top: 0;
    }
    &__img {
        width: 3em;
        margin-top: 5%;
    }
    &__ititle {
        margin: 5% 0;
    }
}