.c-main__section {
    text-align: center;
    padding: 10% 15%;
    &--white {
        color: $lightColor;
    }
    &--background2 {
        @include background-image-resolution('background-2', 100%, auto);
        background-size: cover;
    }
    &--full {
        padding: 0;
    }
}