.c-main__section {
    text-align: center;
    padding: 10% 20%;
    &--reduced-padding {
        padding-bottom: 5%;
    }
    &--white {
        color: $lightColor;
    }
    &--background2 {
        @include background-image-resolution('background-2');
    }
    &--full {
        padding: 0;
    }
}