.c-menu {
    display: none;
    position: absolute;
    top: 105%;
    right: 0;
    width: 100%;
    &__item {
        text-align: center;
        width: 100%;
        margin-bottom: 0.5%;
        background-color: $background-light-gray;
        opacity: 0.9;
        @include for-tablet {
            width: auto;
            background-color: unset;
        }
    }
    &__link {
        @extend %link;
        width: 100%;
        font-size: 1.2em;
        padding: 1em 0;
        opacity: 1;
        @include for-desktop {
            padding: 0.5em;
            &:hover {
                @include move-up-left;
                color: black;
            }
        }
    }
    @include for-tablet {
        display: block;
        position: initial;
        width: unset;
        flex-grow: 1;
    }
}

#menu:checked~.c-menu {
    display: block;
}