$regularFont: 'Lato';
$boldFont: 'Lato Bold';
html {
    font-family: $regularFont;
}

@mixin background-image-resolution($file, $width, $height) {
    background-image: url('../img/' + $file + '.png');
    background-size: $width $height;
    -webkit-background-size: $width $height;
    @media (-webkit-min-device-pixel-ratio: 2), (-moz-min-device-pixel-ratio: 2) {
        & {
            background-image: url('../img/' + $file + '@2x.png');
        }
    }
    @media (-webkit-min-device-pixel-ratio: 3),
    (-moz-min-device-pixel-ratio: 3) {
        & {
            background-image: url('../img/' + $file + '@3x.png');
        }
    }
}

.header {
    @include background-image-resolution('background-1',
    100%,
    auto);
}

.nav__list .main__section-background-2 {
    @include background-image-resolution('background-2',
    100%,
    auto);
}

.menu__item__1 {
    @include background-image-resolution('menu-1',
    100%,
    auto);
}

.menu__item__2 {
    @include background-image-resolution('menu-2',
    100%,
    auto);
}

.menu__item__3 {
    @include background-image-resolution('menu-3',
    100%,
    auto);
}

.menu__item__4 {
    @include background-image-resolution('menu-4',
    100%,
    auto);
}

.menu__item__5 {
    @include background-image-resolution('menu-5',
    100%,
    auto);
}

.menu__item__6 {
    @include background-image-resolution('menu-6',
    100%,
    auto);
}

.list {
    list-style-type: none;
}